<!doctype html>
<html>
<head>
    <script src="~/main.js"></script>
</head>
<body>
<input type="button" value="Ben bir düğmeyim!" onclick="ButtonClick();"/>
<input type="button" value="Ben bir düğmeyim2!" onclick="ButtonClick2();" />
</body>
</html>