<!doctype html>
<html>
<head>
    <title>bu bir başlık</title>
    <link href="~/main.css" rel="stylesheet" />
</head>
<body>
    <div class="yukseklik">
        <div class="menu">Menü</div>
        <div class="anasayfa">
            <div class="header">header</div>
            <div class="content">content</div>
        </div>
    </div>
</body>
</html>
